<div class="wrapper wrapper-content">
    <div class="row">
      <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                  <span class="label label-success pull-right">Weekly</span>
                  <h5>Weekly Stats</h5>
                </div>
                <div class="ibox-content">
                  <h3 class="no-margins">Weekly Record: {{weeklyStats?.weeklyRecord?.wins}}-{{weeklyStats?.weeklyRecord?.losses}}</h3>
                  <h3 class="no-margins">Weekly Net Profit: {{weeklyStats?.weeklyProfit | currency:'USD':true:'1.2-2'}}</h3>
                </div>
            </div>
        </div>
      <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Current</span>
                  <h5>Currently In Progress</h5>
                </div>
                <div class="ibox-content">
                    <h3 class="no-margins">{{activeGames}}</h3>
                </div>
            </div>
      </div>
      <div class="col-lg-4">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
            <span class="label label-info pull-right">Annual</span>
            <h5>Annual Stats</h5>
          </div>
          <div class="ibox-content">
            <h3 class="no-margins">Annual Record: {{annualStats?.record?.wins}}-{{annualStats?.record.losses}}</h3>
            <h3 class="no-margins">Annual Net Profit: {{annualStats?.annualProfit | currency:'USD':true:'1.2-2'}}</h3>
          </div>
        </div>
      </div>
      <div>
        <span>Week: </span>
        <select (change)="updatePicksByWeek($event.target.value)">
          <option *ngFor="let week of weeks" value="{{week}}" [selected]="week === getCurrentWeek()">{{week}}</option>
        </select>
      <div class="row">
        <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                          <h5>Schedule</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                      <div class="ibox-content ">
                        <table class="table-responsive table-bordered ">
                                <thead>
                                <tr>
                                  <th *ngFor="let col of columns">
                                    {{col}}
                                  </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let pickWithGame of picksWithGame | async">
                                  <td class="game-cell">
                                    <img src="assets/img/logos/{{pickWithGame.game.homeTeam}}.gif" width="50"
                                         height="33"/><br> {{pickWithGame.game.homeTeam}}<div class="game-cell-score">{{pickWithGame.game.homeScore}}</div>
                                    <br>
                                    <img src="assets/img/logos/{{pickWithGame.game.awayTeam}}.gif" width="50"
                                         height="33"/><br> {{pickWithGame.game.awayTeam}}<div class="game-cell-score">{{pickWithGame.game.awayScore}}</div>
                                  </td>
                                  <td class="non-game-cell">{{pickWithGame.game.gameProgress}}</td>
                                  <td class="non-game-cell">{{pickWithGame.pick.team}} {{pickWithGame.pick.line}}</td>
                                  <td class="non-game-cell">{{pickWithGame.pick.risked | currency:'USD':true:'1.2-2'}}</td>
                                  <td class="non-game-cell">{{pickWithGame.pick.toWin | currency:'USD':true:'1.2-2'}}</td>
                                  <td class="non-game-cell">
                                    <div *ngIf="pickWithGame.game.gameProgress === 'Not Started'">
                                      <span class="label label-not-started">Not Started</span>
                                    </div>
                                    <div *ngIf="pickWithGame.game.gameProgress === 'Finished' && pickWithGame.covering">
                                      <span class="label label-covered">Win</span>
                                    </div>
                                    <div
                                      *ngIf="pickWithGame.game.gameProgress === 'In Progress' && pickWithGame.covering">
                                      <span class="label label-covering">Covering</span>
                                    </div>
                                    <div
                                      *ngIf="pickWithGame.game.gameProgress === 'Finished' && !pickWithGame.covering">
                                      <span class="label label-not-covered">Loss</span>
                                    </div>
                                    <div
                                      *ngIf="pickWithGame.game.gameProgress === 'In Progress' && !pickWithGame.covering">
                                      <span class="label label-not-covering">Not Covering</span>
                                    </div>
                                  </td>
                                </tr>
                                <tr *ngFor="let picksWithGame of parleyPicksWithGame | async">
                                  <td class="game-cell">
                                    <div *ngFor="let pickWithGame of picksWithGame">
                                    <img src="assets/img/logos/{{pickWithGame.game.homeTeam}}.gif" width="50"
                                         height="33"/><br> {{pickWithGame.game.homeTeam}}
                                      <div class="game-cell-score">{{pickWithGame.game.homeScore}}</div>
                                    <br>
                                    <img src="assets/img/logos/{{pickWithGame.game.awayTeam}}.gif" width="50"
                                         height="33"/><br> {{pickWithGame.game.awayTeam}}
                                      <div class="game-cell-score">{{pickWithGame.game.awayScore}}</div>
                                    </div>
                                  </td>
                                  <td class="non-game-cell">
                                    <div *ngFor="let pickWithGame of picksWithGame">{{pickWithGame.game.gameProgress}}
                                    </div>
                                  </td>
                                  <td class="non-game-cell">
                                    <div *ngFor="let pickWithGame of picksWithGame">
                                      {{pickWithGame.pick.team}} {{pickWithGame.pick.line}}
                                    </div>
                                  </td>
                                  <td class="non-game-cell">{{picksWithGame[0].pick.risked | currency:'USD':true:'1.2-2'}}</td>
                                  <td class="non-game-cell">{{picksWithGame[0].pick.toWin | currency:'USD':true:'1.2-2'}}</td>
                                  <td class="non-game-cell">
                                    <div *ngFor="let pickWithGame of picksWithGame">
                                    <div *ngIf="pickWithGame.game.gameProgress === 'Not Started'">
                                      <span class="label label-not-started">Not Started</span>
                                    </div>
                                    <div *ngIf="pickWithGame.game.gameProgress === 'Finished' && pickWithGame.covering">
                                      <span class="label label-covered">Win</span>
                                    </div>
                                    <div
                                      *ngIf="pickWithGame.game.gameProgress === 'In Progress' && pickWithGame.covering">
                                      <span class="label label-covering">Covering</span>
                                    </div>
                                    <div
                                      *ngIf="pickWithGame.game.gameProgress === 'Finished' && !pickWithGame.covering">
                                      <span class="label label-not-covered">Loss</span>
                                    </div>
                                    <div
                                      *ngIf="pickWithGame.game.gameProgress === 'In Progress' && !pickWithGame.covering">
                                      <span class="label label-not-covering">Not Covering</span>
                                    </div>
                                    </div>
                                  </td>
                                </tr>
                                </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
